header nav ul{
    list-style-type: none;
     display: flex;
    
 }
 header nav{
     display: flex;
 }
 .logo{
     height: 50px;
     width: 50px;
 
 }
 header{
     box-shadow: 10px 10px 15px -7px rgba(0,0,0,0.75);
     display: flex;
     justify-content: space-between;
 }
 header li{
     margin: 8px;
 }
 .div1{
    display: flex;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div1 > img{
    height: 20px;
   
}
.div2{
    text-align: center;
    margin: 10px;

}
.button1{
    margin-top: 10px;
    align-items: center;
    background-color: rgb(74, 183, 74);
    border-radius: 15px;
    border-color: rgb(74, 183, 74);
}
.div3{
    background-color: black;
    color: aliceblue;
    height: 35px;
    text-align: center;
}
.button2{
    margin-top: 10px;
    align-items: center;
    
}
main{
    background-color: white;
    display: flex;
}
.div-esquerda{
    width: 45%;
}